@font-face {
    font-family: "Carmen Sans SemiBold";
    src: url('fonts/Carmen\ Sans\ SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: "Tesla";
    src: url('fonts/tesla.woff2') format('woff2'),
    url('fonts/tesla.woff') format('woff');
}

@font-face {
    font-family: "Carmen Sans Thin";
    src: url('fonts/Carmen\ Sans\ Light.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "Carmen Sans SemiBold", Arial, Helvetica, sans-serif;
    color: #000;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul li a{
    color: #000;
}

p, a {
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    letter-spacing: 0.0025em;
    word-spacing: 0.0015em;
}

#background-img *{
    padding: 1;
    margin: 1;
}

#logo {
    font-size: 1.3em;
    letter-spacing: 0.45em;
    text-align: center;
    font-family: "Tesla", Arial, Helvetica, sans-serif;
    color: #000;
    /* border: 1px solid red; */
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    /* border: 1px solid red; */
}

.notif {
    padding: 15px;
    text-align: center;
}

.notif a {
    font-family: "Carmen Sans Thin", Arial, Helvetica, sans-serif;
    font-size: .9em;
    letter-spacing: .05em;
    text-decoration: underline;
}


#model-3 {
    background-image: url('images/tesla-model-3.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
